*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
header{
    background-color: violet;
    display: flex;
    flex-wrap: warp;
    align-items: center;
    justify-content: space-evenly;
}
nav ul{
    display: flex;
    flex-wrap: wrap;

}